html {
	font-family: Roboto;
}

table, th, td {
	border: none;
}

table {
	font-family: Lato;
	width: 100%;
	display: table;
	border-collapse: collapse;
}

td, th {
	padding: 15px 5px;
	display: table-cell;
	text-align: left;
	vertical-align: middle;
}

thead {
    border-bottom: 1px solid #d0d0d0;
}

h1 {
	font-size: 2.0rem;
	font-family: SourceSansPro Bold;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

h2 {
	font-size: 1.75rem;
	font-family: SourceSansPro Bold;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

h3 {
	font-size: 1.5rem;
	font-family: SourceSansPro Bold;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

h4 {
	font-size: 1.25rem;
	font-family: SourceSansPro Bold;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

h5 {
	font-size: 1rem;
	font-family: SourceSansPro Bold;
	font-weight: 500;
	line-height: 1.1;
	color: inherit;
}

h6 {
	font-size: 0.75rem;
	font-family: SourceSansPro Bold;
	font-weight: 200;
	line-height: 1.1;
	color: inherit;
}