/* Roboto */

@font-face {
	font-family: Roboto;
	src: url(fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
	 font-family: Roboto Bold;
	 src: url(fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
	font-family: Roboto Italic;
	src: url(fonts/Roboto/Roboto-Italic.ttf);
}

/* Lato */
@font-face {
	font-family: Lato;
	src: url(fonts/Lato/Lato-Regular.ttf);
}

@font-face {
	 font-family: Lato Bold;
	 src: url(fonts/Lato/Lato-Bold.ttf);
}

@font-face {
	font-family: Lato Italic;
	src: url(fonts/Lato/Lato-Italic.ttf);
}

/* Source Sans PRO */
@font-face {
	font-family: SourceSansPro;
	src: url(fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf);
}

@font-face {
	 font-family: SourceSansPro Bold;
	 src: url(fonts/Source_Sans_Pro/SourceSansPro-Bold.ttf);
}

@font-face {
	font-family: SourceSansPro Italic;
	src: url(fonts/Source_Sans_Pro/SourceSansPro-Italic.ttf);
}