table, th, td {
    border: none;
  }
  
  table {
    width: 100%;
    display: table;
    border-collapse: collapse;
  }

  td, th {
    padding: 15px 5px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
  }

  thead {
    border-bottom: 1px solid #d0d0d0;
  }

