div.row {
	display: grid;
	grid-template-columns: 2fr 2fr 2fr 2fr; /* max 4 columns */
}

/*Menu*/
.menu li {
	width: 25%;
}

div.row.cl-1 {
	grid-template-columns: 2fr; /* max 1 columns */
}

div.row.cl-2 {
	grid-template-columns: 2fr 2fr; /* max 2 columns */
}

div.row.cl-3 {
	grid-template-columns: 2fr 2fr 2fr; /* max 3 columns */
}

div.row.cl-4 {
	grid-template-columns: 2fr 2fr 2fr 2fr; /* max 4 columns */
}